<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @process_god.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @process_god.id %>
</p>

<%= link_to 'Edit', edit_process_god_path(@process_god) %> |
<%= link_to 'Back', process_gods_path %>
