<%= form_with scope: :dev, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :project_id %><br>
    <%= form.text_field :project_id %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
