<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @team.color %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Num:</strong>
  <%= @team.num %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
