<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @cinema_film.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cinema_film.name %>
</p>

<%= link_to 'Edit', edit_cinema_film_path(@cinema_film) %> |
<%= link_to 'Back', cinema_films_path %>
