<p id="notice"><%= notice %></p>

<h1>Teacher Schools</h1>

<table>
  <thead>
    <tr>
      <th>Teacher First Name</th>
      <th>Teacher Second Name</th>
      <th>Teacher Subject Name</th>
      <th>Teacher Email</th>
      <th>School Name</th>
      <th>School Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teacher_schools.each do |teacher_school| %>
      <tr>
        <td><%= teacher_school.teacher.first_name %></td>
        <td><%= teacher_school.teacher.second_name %></td>
        <td><%= teacher_school.teacher.subject %></td>
        <td><%= teacher_school.teacher.email %></td>
        <td><%= teacher_school.school.school_name %></td>
        <td><%= teacher_school.school.school_number %></td>
        <td><%= link_to 'Show', teacher_school %></td>
        <td><%= link_to 'Edit', edit_teacher_school_path(teacher_school) %></td>
        <td><%= link_to 'Destroy', teacher_school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher School', new_teacher_school_path %>
