<p id="notice"><%= notice %></p>

<h1>School Specialties</h1>

<table>
  <thead>
    <tr>
      <th>Specialty</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_specialties.each do |school_specialty| %>
      <tr>
        <td><%= school_specialty.specialty_id %></td>
        <td><%= school_specialty.school_id %></td>
        <td><%= link_to 'Show', school_specialty %></td>
        <td><%= link_to 'Edit', edit_school_specialty_path(school_specialty) %></td>
        <td><%= link_to 'Destroy', school_specialty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School Specialty', new_school_specialty_path %>
