<p id="notice"><%= notice %></p>

<p>
  <strong>Schoolday:</strong>
  <%= @school.schoolday %>
</p>

<p>
  <strong>Teacherid:</strong>
  <%= @school.teacherid %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
