<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @client_product_connection.client_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @client_product_connection.product_id %>
</p>

<%= link_to 'Edit', edit_client_product_connection_path(@client_product_connection) %> |
<%= link_to 'Back', client_product_connections_path %>
