<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @computer.model %>
</p>

<p>
  <strong>Number:</strong>
  <%= @computer.number %>
</p>

<p>
  <strong>Architecture:</strong>
  <%= @computer.architecture %>
</p>

<p>
  <strong>Date:</strong>
  <%= @computer.date %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
