<p id="notice"><%= notice %></p>

<p>
  <strong>Thr:</strong>
  <%= @thr.thr_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @thr.value %>
</p>

<%= link_to 'Edit', edit_thr_path(@thr) %> |
<%= link_to 'Back', thrs_path %>
