<%= form_with(model: shool, local: true) do |form| %>
  <% if shool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shool.errors.count, "error") %> prohibited this shool from being saved:</h2>

      <ul>
      <% shool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
