<%= form_with(model: process_a_25_stefan_grozev, local: true) do |form| %>
  <% if process_a_25_stefan_grozev.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(process_a_25_stefan_grozev.errors.count, "error") %> prohibited this process_a_25_stefan_grozev from being saved:</h2>

      <ul>
      <% process_a_25_stefan_grozev.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :process_a_25_stefan_grozev_name %>
  </div>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :process_a_25_stefan_grozev_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
