<p id="notice"><%= notice %></p>

<h1>Process A 25 Stefan Grozevs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @process_a_25_stefan_grozevs.each do |process_a_25_stefan_grozev| %>
      <tr>
        <td><%= process_a_25_stefan_grozev.name %></td>
        <td><%= process_a_25_stefan_grozev.id %></td>
        <td><%= link_to 'Show', process_a_25_stefan_grozev %></td>
        <td><%= link_to 'Edit', edit_process_a_25_stefan_grozev_path(process_a_25_stefan_grozev) %></td>
        <td><%= link_to 'Destroy', process_a_25_stefan_grozev, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Process A 25 Stefan Grozev', new_process_a_25_stefan_grozev_path %>
