<%= form_with(model: process_11_a_23, local: true) do |form| %>
  <% if process_11_a_23.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(process_11_a_23.errors.count, "error") %> prohibited this process_11_a_23 from being saved:</h2>

      <ul>
      <% process_11_a_23.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :process_11_a_23_name %>
  </div>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :process_11_a_23_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
