<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @process_11_a_23.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @process_11_a_23.id %>
</p>

<%= link_to 'Edit', edit_process_11_a_23_path(@process_11_a_23) %> |
<%= link_to 'Back', process_11_a_23s_path %>
