<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @processdeni09.name %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @processdeni09.pid %>
</p>

<%= link_to 'Edit', edit_processdeni09_path(@processdeni09) %> |
<%= link_to 'Back', processdeni09s_path %>
