<%= form_with(model: bottle, local: true) do |form| %>
  <% if bottle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bottle.errors.count, "error") %> prohibited this bottle from being saved:</h2>

      <ul>
      <% bottle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :bottle_color %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :bottle_brand %>
  </div>

  <div class="field">
    <%= form.label :tableid %>
    <%= form.text_field :tableid, id: :bottle_tableid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
