<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @bottle.color %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @bottle.brand %>
</p>

<p>
  <strong>Tableid:</strong>
  <%= @bottle.tableid %>
</p>

<%= link_to 'Edit', edit_bottle_path(@bottle) %> |
<%= link_to 'Back', bottles_path %>
