<p id="notice"><%= notice %></p>

<h1>Listing Byers</h1>

<table>
  <thead>
    <tr>
      <th>Money</th>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @byers.each do |byer| %>
      <tr>
        <td><%= byer.money %></td>
        <td><%= byer.name %></td>
        <td><%= byer.country %></td>
        <td><%= link_to 'Show', byer %></td>
        <td><%= link_to 'Edit', edit_byer_path(byer) %></td>
        <td><%= link_to 'Destroy', byer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Byer', new_byer_path %>
