<p id="notice"><%= notice %></p>

<p>
  <strong>Money:</strong>
  <%= @byer.money %>
</p>

<p>
  <strong>Name:</strong>
  <%= @byer.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @byer.country %>
</p>

<%= link_to 'Edit', edit_byer_path(@byer) %> |
<%= link_to 'Back', byers_path %>
