<%= form_with(model: car_manufacture, local: true) do |form| %>
  <% if car_manufacture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_manufacture.errors.count, "error") %> prohibited this car_manufacture from being saved:</h2>

      <ul>
      <% car_manufacture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :car_id %>
    <%= form.number_field :car_id, id: :car_manufacture_car_id %>
  </div>

  <div class="field">
    <%= form.label :manufacture_id %>
    <%= form.number_field :manufacture_id, id: :car_manufacture_manufacture_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
