<p id="notice"><%= notice %></p>

<h1>Articles</h1>
<div class="row">
	<% @articles.each do |article| %>
    	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<h3>		
				<%= link_to article.title, article_path(article) %>
			</h3>		
		</div>
		<div>
			<%= image_tag article.picture, class: "img-fluid"%>
		</div>

		<p><%= article.body.first(40)%>... </p>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
			Show image 
		</button>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
				<%= image_tag article.picture, class: "img-fluid" %>
			</div>
		</div>
	</div>
	<% end %>
</div>
<br>

<%= link_to 'New Article', new_article_path %>
