<p id="notice"><%= notice %></p>

<h1>Subs Users</h1>

<table>
  <thead>
    <tr>
      <th>Iserid</th>
      <th>Subscriptionid</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subs_users.each do |subs_user| %>
      <tr>
        <td><%= subs_user.iserid %></td>
        <td><%= subs_user.subscriptionid %></td>
        <td><%= subs_user.type %></td>
        <td><%= link_to 'Show', subs_user %></td>
        <td><%= link_to 'Edit', edit_subs_user_path(subs_user) %></td>
        <td><%= link_to 'Destroy', subs_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subs User', new_subs_user_path %>
