<%= form_with(model: program_b_12, local: true) do |form| %>
  <% if program_b_12.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program_b_12.errors.count, "error") %> prohibited this program_b_12 from being saved:</h2>

      <ul>
      <% program_b_12.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :thread_id %>
    <%= form.text_field :thread_id, id: :program_b_12_thread_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
