<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @process_a25_stefan_grozev.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @process_a25_stefan_grozev.id %>
</p>

<%= link_to 'Edit', edit_process_a25_stefan_grozev_path(@process_a25_stefan_grozev) %> |
<%= link_to 'Back', process_a25_stefan_grozevs_path %>
