<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @threadr.id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @threadr.value %>
</p>

<%= link_to 'Edit', edit_threadr_path(@threadr) %> |
<%= link_to 'Back', threadrs_path %>
