<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_ %>
    <%= form.number_field :id_, id: :post_id_ %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :post_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
