<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @connection.project %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @connection.developer %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
