<%= form_with(model: process_martin_m, local: true) do |form| %>
  <% if process_martin_m.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(process_martin_m.errors.count, "error") %> prohibited this process_martin_m from being saved:</h2>

      <ul>
      <% process_martin_m.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :process_martin_m_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
