<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @process_martin_m.name %>
</p>

<% @process_martin_m.thread_martin_ms.each do |thread| %>
  Process
  <%= link_to 'Show', process_martin_m_thread_martin_m_path(thread) %> 
  <br>
<% end %>


<%= link_to 'Edit', edit_process_martin_m_path(@process_martin_m) %> |
<%= link_to 'Back', process_martin_ms_path %>
