<p id="notice"><%= notice %></p>

<h1>Bottles</h1>

<table>
  <thead>
    <tr>
      <th>Color</th>
      <th>Brand</th>
      <th>Table</th>
      <th> Width </th>
      <th> Height </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bottles.each do |bottle| %>
     <% @tables.each do |table| %>
      <tr>
        <td><%= bottle.color %></td>
        <td><%= bottle.brand %></td>
        <td><%= bottle.table_id %></td>
        <td><%= table.table_width %></td>
        <td><%= table.table_height %></td>
      </tr>
     <% end %>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Bottle', new_bottle_path %>
