<p id="notice"><%= notice %></p>

<p>
  <strong>Member name:</strong>
  <%= @team_member.member_name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @team_member.color %>
</p>

<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
