<%= form_with scope: :bottle, local: true do |form| %>
  <p>
    <%= form.label :width %><br>
    <%= form.text_field :witdh %>
  </p>
 
  <p>
    <%= form.label :hight %><br>
    <%= form.text_field :hight %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
