<%= form_with(model: thread_a06, local: true) do |form| %>
  <% if thread_a06.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thread_a06.errors.count, "error") %> prohibited this thread_a06 from being saved:</h2>

      <ul>
      <% thread_a06.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :processA06_id %>
    <%= form.text_field :processA06_id, id: :thread_a06_processA06_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
