<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comp.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @comp.address %>
</p>

<p>
  <strong>Number:</strong>
  <%= @comp.number %>
</p>

<%= link_to 'Edit', edit_comp_path(@comp) %> |
<%= link_to 'Back', comps_path %>
