<p id="notice"><%= notice %></p>

<p>
  <strong>Id nomer:</strong>
  <%= @program.ID_nomer %>
</p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
