<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student_koki.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @student_koki.second_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student_koki.email %>
</p>

<p>
  <strong>School:</strong>
  <%= @student_koki.school %>
</p>

<%= link_to 'Edit', edit_student_koki_path(@student_koki) %> |
<%= link_to 'Back', student_kokis_path %>
