<p id="notice"><%= notice %></p>

<h1>Process A17 Martin Markovs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @process_a17_martin_markovs.each do |process_a17_martin_markov| %>
      <tr>
        <td><%= process_a17_martin_markov.name %></td>
        <td><%= link_to 'Show', process_a17_martin_markov %></td>
        <td><%= link_to 'Edit', edit_process_a17_martin_markov_path(process_a17_martin_markov) %></td>
        <td><%= link_to 'Destroy', process_a17_martin_markov, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Process A17 Martin Markov', new_process_a17_martin_markov_path %>
