<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program.Name %>
</p>

<p>
  <strong>Id of process:</strong>
  <%= @program.Id_of_process %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
