<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName, id: :student_firstName %>
  </div>

  <div class="field">
    <%= form.label :secondName %>
    <%= form.text_field :secondName, id: :student_secondName %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :student_email %>
  </div>

  <div class="field">
    <%= form.label :school_id %>
    <%= form.number_field :school_id, id: :student_school_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
