<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @process_a_12.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @process_a_12.id %>
</p>

<%= link_to 'Edit', edit_process_a_12_path(@process_a_12) %> |
<%= link_to 'Back', process_a_12s_path %>
