<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @school.school %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @school.teacher %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
