<%= form_with(model: process_a06, local: true) do |form| %>
  <% if process_a06.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(process_a06.errors.count, "error") %> prohibited this process_a06 from being saved:</h2>

      <ul>
      <% process_a06.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :process_a06_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
