<p id="notice"><%= notice %></p>

<h1>Mschools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mschools.each do |mschool| %>
      <tr>
        <td><%= mschool.name %></td>
        <td><%= mschool.number %></td>
        <td><%= link_to 'Show', mschool %></td>
        <td><%= link_to 'Edit', edit_mschool_path(mschool) %></td>
        <td><%= link_to 'Destroy', mschool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mschool', new_mschool_path %>
