<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mschool.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @mschool.number %>
</p>

<%= link_to 'Edit', edit_mschool_path(@mschool) %> |
<%= link_to 'Back', mschools_path %>
