<h1> Order: </h1>


<%= form_with scope: :product, local: true do |form| %>
  <p>
    <%= form.label :id %><br>
    <%= form.text_field :id %>
  </p>
 
  <p>
    <%= form.label :data %><br>
    <%= form.text_area :data %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>