<%= form_with(model: product_client, local: true) do |form| %>
  <% if product_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_client.errors.count, "error") %> prohibited this product_client from being saved:</h2>

      <ul>
      <% product_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, id: :product_client_product_name %>
  </div>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name, id: :product_client_client_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
