<p id="notice"><%= notice %></p>

<p>
  <strong>Classname:</strong>
  <%= @threadd.classname %>
</p>

<p>
  <strong>Value:</strong>
  <%= @threadd.value %>
</p>

<p>
  <strong>..:</strong>
  <%= @threadd... %>
</p>

<%= link_to 'Edit', edit_threadd_path(@threadd) %> |
<%= link_to 'Back', threadds_path %>
